@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamPro.eot?') format('eot'), 
	     url('../fonts/GothamPro/GothamPro.otf')  format('opentype'),
	     url('../fonts/GothamPro/GothamPro.woff') format('woff'), 
	     url('../fonts/GothamPro/GothamPro.ttf')  format('truetype'),
	     url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'), 
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), 
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamPro-Medium';
	src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?') format('eot'), 
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.otf')  format('opentype'),
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'), 
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf')  format('truetype'),
	     url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
}
