*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 200px;
	width: 100px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

html{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	line-height: 1.6;
	font-family: "GothamPro-Medium", sans-serif;
	overflow-x: hidden;
}

a{
	color: #3B29A6;
}
a:hover{
	color: #e82d2d;
}

.hidden {
	display: none;
}

.header{
	display: flex;
	justify-content: center;
}

.logo {
	margin-top: 44px;
	max-width: 521px;
	max-height: 402px;
}

.fontgpt{
	margin-top: 40px;
	font-family: "GothamPro";
	font-size: 48px;
	line-height: 46px;
	line-height: 100%;
	max-width: 507px;
	max-height: 143px;
}
.adr{
	font-family: "GothamPro";
	font-size: 24px;
	line-height: 23px;
	line-height: 100%;
	align: left;
}
.sved{
	font-family: "GothamPro";
	font-size: 20px;
	line-height: 20px;
	line-height: 100%;
	align: left;
}
.colorurl{
	color: #3B29A6;
}

.menu{
	margin-top: 40px;
	margin-left: 0px;
	Font-family: GothamPro-Bold;
	Font-style: Bold;
	Font-size: 28px;
	Line-height: 27px;
	Line-height: 170%;
	max-width: 250px;
}

.habmurger{
	
}

li{
	list-style-type: none
}

/* modal menu */
/* Кнопка */
.btn-modal {
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease-out;
  }
  .btn-modal:hover {
	background-color: #e82d2d;
  }
  
  /* Модальное окно */
  #modal-block { 
	background-color:#e82d2d;
	color: #fff;
	position: fixed;
	top:0;
	left:100vw;
	width:100vw;
	height: 100vh;
	transition: all .5s;
	font-family: 'GothamPro', sans-serif;
	z-index: 9;
  }
  #modal-block:target{
	display:block;
	align-items:center;
	justify-content:center;
	flex-direction: column;
	left:0;
  	overflow-y: auto;
  }
  
  /* Заголовкии текст */
  #modal-block h4{
	margin: 20px 0;
	font-size: 1.7em;
  }
  #modal-block li > a{
	color: #fff;
  }
  
  /* Кнопка закрыть */
  .close-block{
	padding: .5em;
	background-color: #e82d2d;
	text-decoration: none;
	font-size: 2em;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
  }

  /* основной контент */
.content{
	margin-top: 20px;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
  }

  .otdel{
	width: 70%;
	height: 414px;
	background-image: url(../img/vient.webp);
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: 12%;
  }

  .otdel > a{
	display: inline-block;
	width: 30%;
	height: 30%;
	color: black;
	margin: 2vh 2vw;
  }

  .otdel > a:before {
    display: inline-block;
    height: 30%;
    vertical-align: middle;
    content: " ";
  }

  .music{
	background-color: rgba(59, 41, 166, 0.6);
	transition: 2s;
  }
  .music:hover{
	background-color: rgba(59, 41, 166, 1);

  }
  .dance{
	background-color: rgba(255, 188, 59, 0.6);
	transition: 2s;
  }
  .dance:hover{
	background-color: rgba(255, 188, 59, 1);
  }
  .paint{
	background-color: rgba(49, 195, 199, 0.6);
	transition: 2s;
  }
  .paint:hover{
	background-color: rgba(49, 195, 199, 1);
  }
  .estet{
	background-color: rgba(32, 186, 84, 0.6);
	transition: 2s;
  }
  .estet:hover{
	background-color: rgba(32, 186, 84, 1);
  }

  /* Афиша */
  .afisha{
	margin: auto;
	width: 30%;
	height: 504px;
  }

  .gelereya-kartinok > img {
	height: 50%;
	width: 50%;
	object-fit: cover;
	clip-path: path('M15,45 A30,30,0,0,1,75,45 A30,30,0,0,1,135,45 Q135,90,75,130 Q15,90,15,45 Z');  
	/* ромб clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); 
	круг circle(40%); овал ellipse(100px 80px at center); 
	сердечко path('M15,45 A30,30,0,0,1,75,45 A30,30,0,0,1,135,45 Q135,90,75,130 Q15,90,15,45 Z');*/
  }

  .gelereya-kartinok > img:hover {
	/* анимация биения */
	transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
  }

  /* Новости */

  .news {
	height: 558px;
	width: 100%;
	background-color: #666;
	display: flex;
  }

  .last_new{
	width: 50%;
	background-color: #3B29A6;
  }

  .old_news{
	width: 100%;
	height: 50%;
	background-color: #e82d2d;
  }


/* Подвал */
.footer{
	width: 100%;
	height: 590px;
	background-color: #31C3C7;
}