/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	

}

/* Medium Devices, Desktops */
/* @media only screen and (max-width : 992px) { */
@media only screen and (max-width : 1120px) {
	.menu{
		display: none;
	}
	.icon-menu_lines_hamburger_icon:before {
		display: inline-block;
	  }
	.fontgpt{
		margin-top: 40px;
		font-family: "GothamPro";
		font-size: 32px;
		line-height: 31px;
		line-height: 100%;
		max-width: 312px;
	}
	.block_old2{
		display: none;
	  }
	.last_new{
		width: 50%;
	  }
	.block_old1{
		display: flex;
		flex-direction: column;
		width: 50%;
	  }
	.url_footer4{
		display: none;
	  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo {
		max-width: 284px;
		max-height: 257px;
	}
	.adr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.sved{
		display: none;
	}
	.habmurger{
		font-size: 32px;
	}
	.url_footer3{
		display: none;
	}

/* @media only screen and (max-width : 480px) { */
	@media only screen and (max-width : 620px) {

		.logo {
		  max-width: 186px;
		  max-height: 187px;
	  	}

		.fontgpt{
			font-size: 16px;
			line-height: 15px;
			line-height: 100%;
			max-width: 154px;
		}

		.adr{
			font-size: 12px;
			line-height: 11px;
			line-height: 100%;
		}

		.content{
			/* display: block; */
			justify-content: left;
		}

		.otdel{
			width: 100%;
		}

		.afisha {	
			margin: auto;
			width: 45%;
			font-size: 12px;
		}

		.news {
			width: 50%;
		}
		.block_old1{
			display: none;
		}
		.last_new{
			width: 100%;
			font-size: 12px;
		}
		  .url_footer2{
			display: none;
		}
  	}

	@media only screen and (max-width : 480px) {
		
		.img_last_new {
			max-width: 100px;
		}

	}

	@media only screen and (max-width : 360px) {

		.logo {
			max-width: 130px;
			max-height: 131px;
			}
  
		  .fontgpt{
			font-size: 12px;
			line-height: 11px;
			line-height: 100%;
			max-width: 130px;
		  }
  
		  .adr{
			font-size: 8px;
			line-height: 7px;
			line-height: 100%;
		  }
		  .afisha {	
			width: 95%;
			height: auto;
		  }
		  .news {
			width: 95%;
		  }
		  .url_footer{
			display: none;
		  }
		  .img_last_new {
			max-width: 150px;
		  }

	}

}
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}